<!DOCTYPE html>
<html lang="en">

<head>{{if .GoogleAnalytics}}{{template "google-analytics.html" .}}{{end}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ENM">
  <title>About: ENM</title>
  <link rel="stylesheet" href="shared/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="shared/css/bulma.min.css">
</head>

<body class="enm enm-about enm-page">
  {{template "banner.html" .}}
  <main class="enm-about">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title">
                About this project
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container" id="maincontent">
         <div class="content">&nbsp;
        </div>
      </div>
    </section>
  </main>
</body>
</html>