<div class="enm-topnav">
  <div class="container ">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <h1 class="navbar-item enm-logo">
          <a href="#">
            Enhanced Networked Monographs
          </a>
        </h1>
        <div class="navbar-burger burger" data-target="navMenuIndex">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenuIndex" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a class="navbar-item" href="index3.php">Search</a>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  " href="#">
              Browse
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="browseTopics.php">
                All topics
              </a>
              <a class="navbar-item " href="#">
                All books
              </a>
              <hr class="navbar-divider">
              <div class="navbar-item">
                <div>
                  <p class="is-size-6-desktop">
                    <strong>Featured Topics</strong>
                  </p>
                  <a class="navbar-item" href="#">Women</a>
                  <a class="navbar-item" href="#">Art</a>
                  <a class="navbar-item" href="#">Food</a>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              Visualize
            </div>
            <div id="moreDropdown" class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="#">
                <p>
                  <strong>Persons</strong>
                  <br>
                  <small>A nicely laid out description of this item </small>
                </p>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item " href="#">
                <p>
                  <strong>Places</strong>
                  <br>
                  <small>A nicely laid out description of this item </small>
                </p>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item " href="#">
                <p>
                  <strong>Things</strong>
                  <br>
                  <small>A nicely laid out description of this item </small>
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>