<div class="box">
  <article class="media enm-book">
    <div class="media-left">
      <figure class="image enm-thumbnail">
        <img src="images/th.jpg" alt="">
      </figure>
    </div>
    <div class="media-content">
      <h3 class="title is-5">
     Internationalizing “International Communication”</h3>
      <div class="meta">Joseph Turow and Lokman Tsui; University of Michigan Press, 2008</div>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="matches">
            <a href="#">
              <span class="icon is-small"><i class="fa fa-search"></i></span> 33 matched pages</a>
          </div>
        </div>
    <!--     <div class="level-right">
          <a class="button level-item is-primary is-outlined is-small">Open in Readium</a>
        </div> -->
      </nav>
    </div>
  </article>
</div>