<div class="box">
  <article class="media enm-book">
    <div class="media-left">
      <figure class="image enm-thumbnail">
        <img src="/shared/assets/covers/{{.ISBN}}.jpg" alt="">
      </figure>
    </div>
    <div class="media-content">
      <h3 class="title is-5">
     {{.Title}}</h3>
      <div class="meta">{{.Authors}}; {{.Publisher}}</div>
      <nav class="level is-mobile">
        <div class="level-right">
          {{$hrefForReaderButton := hrefForReaderButton .Publisher .ISBN}}
          {{if ne $hrefForReaderButton ""}}
          <a
            href="{{$hrefForReaderButton}}"
            class="button level-item is-primary is-outlined is-small"
            target="_blank">
            Read book
          </a>
          {{end}}
        </div>
      </nav>
    </div>
  </article>
</div>
