<div class="skipnav"><a href="#maincontent">Skip to main content</a></div>
<div class="enm-topnav">
  <div class="container is-fluid">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <h1 class="navbar-item enm-logo">
          <a href="{{.Paths.WebRoot}}">
            Enhanced Networked Monographs
            <!--https://jira.nyu.edu/jira/browse/NYUP-360-->
            <span id="navPrototypeLabel" class="tag is-danger">PROTOTYPE</span>
          </a>
        </h1>
        <div class="navbar-burger burger" data-target="navMenuIndex">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenuIndex" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <a class="navbar-item" href="{{.Paths.WebRoot}}/search-results/">Search</a>
          </div>
           <div class="navbar-item">
            <a class="navbar-item" href="{{.Paths.WebRoot}}/about.html">About</a>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{.Paths.WebRoot}}/browse-topics-lists/enm-picks.html">
              Browse
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="{{.Paths.WebRoot}}/browse-topics-lists/enm-picks.html">
                Featured topics
              </a>
               <hr class="navbar-divider">
              <a class="navbar-item " href="{{.Paths.WebRoot}}/browse-topics-lists/a.html">
                All topics
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>