<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ENM">
  <title>Browse Topics</title>
  <link rel="stylesheet" href="../shared/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <link rel="stylesheet" href="../shared/css/bulma.min.css">
</head>

<body>
  {{template "banner.html" .}}
  <main class="enm-browsetopicspage">
    <section class="hero  is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <p class="title">
                Browse Topics
              </p>
              <p class="subtitle">
                Explore people, places, things, ideas
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <nav class="tabs is-boxed is-medium">
            <ul>
              <li>
                <a href="enm-picks.html">Featured</a>
              </li>
              <li class="is-active">
                <a href="a.html">All</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-tabs">
            {{$outer := .}}
            {{range $index, $navbarTab := .NavbarTabs}}
                <a class="navbar-item is-tab{{if eq $outer.ActiveNavbarTab $navbarTab.Label}} is-active{{end}}" href="{{$navbarTab.FileBasename}}.html">
                    {{$navbarTab.Label}}
                </a>
            {{end}}
        </div>
      </div>
    </nav>
    <div class="container enm-topiclist">

    {{template "a-to-z-content.html" .}}

    </div>
  </main>
</body>

</html>